<html>
<head>
	<title>cloudpower</title>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>

<body>
	<div class="wrapper">
		<div class="header">
			Cloudpower v1 Demo
		</div>
		<div class="content">
			status: <div id="status"></div><br/>
			<button id="on">on</button> <button id="off">off</button><br/>
			
		</div>
	</div>
	
	<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript">
		$("#on").click(function(){
			$("#status").text('pending...');
			$.post('/api/v1/device/device-0/3', {
				'state': 1
			}, function(data){
				if (data.hasOwnProperty('error')){
					$("#status").text(data.error);
				}
				else {
					$("#status").text('the state of outlet ' + data.outlet + ' is ' + data.state);
				}
				
			});
		});
		$("#off").click(function(){
			$("#status").text('pending...');
			$.post('/api/v1/device/device-0/3', {
				'state': 0
			}, function(data){
				if (data.hasOwnProperty('error')){
					$("#status").text(data.error);
				}
				else {
					$("#status").text('the state of outlet ' + data.outlet + ' is ' + data.state);
				}
			});
		});
	</script>

</body>

</html>